**/language_model/*
**/venv/
**/.venv/
**/__pycache__/
**/.vscode/settings.json
**/.env
**/.idea/
**/*.egg-info/
*.egg-info/
*.egg-info
*logo*.*
*secret*.*
*.Identifier
*.gguf
*.safetensors
*.bin
*.log
*.tmp
*.sublime-project
*.sublime-workspace
